html, body {
	height: 100%;
	}

body {
	font-family: tahoma,sans-serif;
	font-size: 11pt;
	line-height: 150%;
	border: 0;
	border-right: 2px solid #ffa200;
	}

#notfooter, #footer {
	margin: 0 5%;
	}

#notfooter {
	min-height: 100%;
	}

#links {
	overflow: auto;
	padding-bottom: 100px;
	}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear: both;
	} 

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;/
	}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul li {
	padding: 10px 15px;
}

a {
	color: #ffa200;
	underline: none;
	}

a:hover li {
	background-color: #eee;
}